@{
    ViewBag.Title = "Index2";
    //ViewBag.Controller = "DecksController";
    ViewBag.AngularInitModule = "DecksIndex";
}


<div ng-view=""></div>


@section Scripts
{
    <script src="~/Scripts/AngularController/DecksController.js"></script>
}
