<h2>Create New Deck</h2>

<form name="newDeckForm" novalidate ng-submit="save()">
    <label for="Name">Name</label>
    <input type="text" name="Name" ng-model="newDeck.Name" required />
    <span class="error" ng-show="newDeckForm.Name.$error.required">*</span>
    <br/>
        <select name="Game_Id" ng-model="game" ng-options="g.Name for g in games" required>
            <option value="">-- select game --</option>
        </select>
    <span class="error" ng-show="newDeckForm.Game_Id.$error.required">*</span>
    <div>
        <input type="submit" class="btn btn-primary" value="Create" ng-disabled="newDeckForm.$invalid || reqGameId()" />
        <a href="#" class="btn">Cancel</a>
    </div>


</form>