.rounded-corners {
     -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
}

.page
{
    width: 80%;
    /*min-width: 900px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 15px 15px 15px;
    
    background: #cfe7fa; /* Old browsers */
background: -moz-linear-gradient(top, #cfe7fa 0%, #6393c1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); /* IE10+ */
background: linear-gradient(to bottom, #cfe7fa 0%,#6393c1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
}

.page-body
{
    min-height: 500px;
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* IE10+ */
background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    border: 2px solid #330033;
    padding: 15px 15px 15px 15px;


}

.Footer
{
    margin-top: 10px;
    padding: 5px 20px 5px 20px;
    color: #FFCC00;
    text-align: center;
}

.GradientBackground
{
    background-color: #2c2c2c;
    background-image: -moz-linear-gradient(top,#333,#222);
    background-image: -ms-linear-gradient(top,#333,#222);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#333),to(#222));
    background-image: -webkit-linear-gradient(top,#333,#222);
    background-image: -o-linear-gradient(top,#333,#222);
    background-image: linear-gradient(top,#333,#222);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333',endColorstr='#222222',GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
}
.deck-card
{
    border: 1px solid #000000;
    margin: 2px 2px 2px 2px;
    margin-left: 5px;
}

.deck-card .head
{
    margin-left: 5px;
    /*background-color:#FFFFFF;*/
}

.tools
{
    cursor: pointer;
    width: 20px;
}

.plottwist tr th
{
    background-color: #04417a;
    color: #ffffff;
}

.character tr th
{
    background-color: #4f0707;
    color: #ffffff;
}

.location tr th
{
    background-color: #034a0b;
    color: #ffffff;
}

.equipment tr th
{
    background-color: #383a3b;
    color: #ffffff;
}
