<div class="Footer GradientBackground rounded-corners">
Deckbuilder Pro &#169; @DateTime.Now.Year. All Rights Reserved. <!--Follow us: <img src="@Url.Content("~/Content/socialmedia/facebook.png")" alt=""/> <img src="@Url.Content("~/Content/socialmedia/twitter.png")" alt="" /> -->
</div>